
body{
    margin:0px;
    width: 100%;
}

html, body{
    overflow-x: clip;
    max-width: 100%;
}

a{
    text-decoration:none;
    color:inherit;
}

.background-video_container{
  width: 100%;
}
.background-video{
    position:fixed;
    right: 0;
    bottom:0;
    min-width: 100%;
    min-height:100%;
    width: 100%;
    height:100vh;
    z-index: -2;
    object-fit:cover;
}
.video-overlay {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background: radial-gradient(
    circle,
    rgba(35,55,94,0.2) 0%,
    rgba(35,55,94, 0.3) 80%,
    rgba(35,55,94, 0.6) 90%,
    rgba(35,55,94,0.9) 100%
  );
}
.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 1px;
    position:sticky;
    top:0;
    bottom: 0;
    z-index: 10;
}

.logo{
    height: 50px;
}

.menu-buttons-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-self: center;
}

.menu-buttons{
    color: White;
    font-family: Arial;
    font-size: 14px;
    align-self:center;
}
.quote-container{
    display:grid;
    grid-template-columns: 1fr;
    justify-self:center;
    align-content: center;
    text-align:center;
    z-index: 1;
    height:100vh;
    
}
.quote{
    font-family: Russo one,Arial;
    font-weight:bold;
    color:rgb(230, 227, 227);
    font-size: 6vw;
    width: 700px;
    letter-spacing: -3px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}

.under_quote{
  color:rgb(182, 180, 180);
  font-size: 2vw;
  font-family:Arial;
}

/* From Uiverse.io by jerome_5148 */ 
.event-wrapper > .event-wrapper-inp {
  display: none;
}
.event-wrapper {
  font-weight: 500;
  color: white;
  background-color: transparent;
  padding: 3px 10px;
  border-radius: 10px;

  display: none;
  align-items: center;
  height: 30px;
  width:auto;
  width: fit-content;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
  justify-self: right;
}

.arrow {
  height: 34%;
  aspect-ratio: 1;
  margin-block: auto;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 100%;
  width: 2.5px;
  border-radius: 500px;
  transform-origin: bottom;
}

.arrow::after {
  transform: rotate(35deg) translateX(-0.5px);
}
.arrow::before {
  transform: rotate(-35deg) translateX(0.5px);
}

.event-wrapper > .event-wrapper-inp:checked + .arrow {
  transform: rotateX(180deg);
}

.menu-container {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: solid white 1px;
  border-radius: 10px;
  position: absolute;
  width: 150px;
  left: -100px;
  top: 130%;
  overflow: hidden;
  clip-path: inset(0% 0% 0% 0% round 10px);
  transition: all 0.4s;
}

.menu-list {
  --delay: 0.4s;
  --trdelay: 0.15s;
  padding: 8px 10px;
  border-radius: inherit;
  transition: background-color 0.2s 0s;
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  font-family: Arial;
}

.menu-list::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 95%;
}

.menu-list:hover {
  background-color: rgb(223, 223, 223);
}

.event-wrapper-inp:checked ~ .menu-container {
  clip-path: inset(10% 50% 90% 50% round 10px);
}

.event-wrapper-inp:not(:checked) ~ .menu-container .menu-list {
  transform: translateY(0);
  opacity: 1;
}

.event-wrapper-inp:not(:checked) ~ .menu-container .menu-list:nth-child(1) {
  transition:
    transform 0.4s var(--delay),
    opacity 0.4s var(--delay);
}

.event-wrapper-inp:not(:checked) ~ .menu-container .menu-list:nth-child(2) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 1)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 1));
}

.event-wrapper-inp:not(:checked) ~ .menu-container .menu-list:nth-child(3) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 2)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 2));
}

.event-wrapper-inp:not(:checked) ~ .menu-container .menu-list:nth-child(4) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * 3)),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * 3));
}

.bar-event-wrapper-inp {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  display: flex;
  height: 50%;
  width: 20px;
  flex-direction: column;
  gap: 3px;
  padding-top: 12px;
  padding-right: 5px;
}

.bar-list {
  --transform: -25%;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s;
  position: relative;
}

.event-wrapper-inp:not(:checked) ~ .bar > .top {
  transform-origin: top right;
  transform: translateY(var(--transform)) rotate(-45deg);
}

.event-wrapper-inp:not(:checked) ~ .bar > .middle {
  transform: translateX(-50%);
  opacity: 0;
}

.event-wrapper-inp:not(:checked) ~ .bar > .bottom {
  transform-origin: bottom right;
  transform: translateY(calc(var(--transform) * -1)) rotate(45deg);
}

/*about*/

.about-background{
  background-color: rgb(21, 21, 21); 
  height: 2200px;
}

.reviews_container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 100px;
  justify-self: center;
  column-gap: 50px;
}

.reviews{
  background-color: rgb(43, 42, 42);
  height: 100px;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  display:grid;
  grid-template-rows: repeat(3,1fr);
  row-gap: 10px;
}
.review_text{
  color:white;
  font-family: Arial;
  width: 250px;
}

.reviewer{
  color: rgb(168, 166, 166);
  font-family: Arial;
  text-align: right;
}

.view_more_container{
  display: flex;
  justify-content: right;
  padding-right: 90px;
  padding-top: 20px;
  font-size: 16px;
  font-family: Arial;
}
.view_more{
  color: white;
}

.view_more:hover{
  color:#2a4373;
}

.view_more:active{
  color:#2a4373;
}

.join{
  display: grid;
  grid-template-rows:repeat(3, 1fr);
  row-gap: 15px;
  justify-items:center;
  align-items: center;
  height: 300px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.join_community{
  color:white;
  font-family: Russo one,Arial;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.join_community_description{
  color: rgb(163, 159, 159);
  font-family: Arial;
  text-align: center;
  width: 60vw;
  font-size: 20px;
  line-height: 30px;
}

.join_buttons{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 20px;
}

.join_now{
  background-color:#23375e;
  border: solid #23375e;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.join_now:hover{
  background-color:#2a4373;
  border-color: #2a4373;
}


.join_now:active{
  background-color:#2a4373;
  border-color: #2a4373;
}

.learn_more{
  background-color:transparent;
  border: solid white;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color:white;
  font-size: 20px;
  font-weight:bold;
}

.learn_more:hover{
  background-color:white;
  color: black;
}
.learn_more:active{
  background-color:white;
  color: black;
}

.meet_the_team_container{
  position: relative;
}

.gym_interior{
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.img_overlay{
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background-color: rgba(14, 13, 13, 0.6);
  display: grid;
  align-items: center;
  justify-content: center;;
}

.meet_the_team_text{
  color: rgb(254, 253, 253);
  font-size: 8vw;
  font-family: russo one, Arial;
  font-weight: bold;
  text-align: center;
}

.team_window{
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
  justify-content: center;
  padding-top: 20px;
}
.window{
  background-color: pink;
  width: 80vw;
  height: 100px;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-content: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 7.5px;
  background-color:rgb(43, 42, 42);
}
.coach_photo{
  height: 80px;
  border-radius: 40px;
}
.person_description{
  display: grid;
  grid-template-rows: 20px 40px 30px;
}

.name{
  font-family: Arial;
  color: White;
  font-size: 20px;
  font-weight: bold;
}

.role{
  font-family: Arial;
  color: gray;
  padding-top: 5px;
  font-size: 15px;
}

.role_description{
  font-family: Arial;
  color: white;
  font-size: 15px;
}

.find_your_gym{
  display: grid;
  grid-template-rows: 100px 1fr;
  padding-top: 100px;
  justify-items: center;
  padding-bottom: 100px;;
}

.find_gym{
  color: white;
  font-family: russo one,Arial;
  font-size: 50px;
  font-weight:bold;
}

iframe{
  border-radius: 8px;
}

/*programs*/
.programs_background{
  background-color: rgb(21,21,21);
  height: 1300px;
  display: grid;
  grid-template-rows: 100px 1fr 250px 1fr;
  justify-content: center;
}

.services_offered_container{
  display: flex;
  justify-content: center;
}

.services_offered{
  font-family: russo one, Arial;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.services_windows_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  align-content: center;
  height: 400px;
}

.services_photo_container{
  background-color: rgb(43,42,42);
  height: 180px;
  border-radius: 5px;
  width: 380px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.services_photo{
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.service_description_container{
  display: grid;
  grid-template-rows: 50px 1fr;
  padding-left: 20px;
  padding-top: 20px;
}
.service_name{
  font-family: Arial;
  color: White;
  font-size: 20px;
  font-weight: bold;
}

.service_description{
  display: grid;
  grid-template-rows: 20px 20px 20px;
}

.description{
  font-family: Arial;
  font-size: 15px;
  color: rgb(134, 132, 132);
  width: 150px;
}

.our_programs_container{
  display: flex;
  justify-content: center;
  align-items:center;
}


.our_programs{
  font-family: russo one, Arial;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.programs_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.gym_rates_container{
  display: flex;
  justify-content: center;
  height: 600px;
  width: auto;
}
.gym_rates{
  height: 400px;
  width: 550px;
  border-radius: 5px;
  object-fit:cover;
}

.footer{
  background-color: #23375e;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 150px;
  height: 100px;
  padding-left:50px;
  padding-right:50px;
  padding-top: 50px;
  padding-bottom:50px;
}

.company_container{
  display:grid;
  grid-template-rows: 30px 1fr 1fr 1fr;
}

.company{
  font-family:Arial;
  font-size: 20px;
  color: White;
  font-weight:bold;
}

.support{
  display:grid;
  grid-template-rows: 30px 20px;
}

.support{
  font-family:Arial;
  font-size: 20px;
  color: White;
  font-weight:bold;
}

.contact_us{
  font-size:14px;
  font-weight:200;
}

.address_container{
  font-family:Arial;
  font-size: 20px;
  color: White;
  font-weight:bold;
  display: grid;
  grid-template-rows: 30px 1fr 1fr 1fr;
}

.footer_buttons, .footer_buttons_street{
  font-size:14px;
  font-weight:200;
  color:white;
  font-family:Arial;
}

.footer_logo_container{
  display:flex;
  justify-content:center;
}

.address_container{
  width: 190px;
}

.footer_logo{
  height:120px;
}

.under_footer{
  background-color: black;
  display:flex;
  justify-content: center;
}

.credits{
  color:white;
  font-family:Arial;
  font-size:12px;
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

@media(max-width: 1200px){
  .reviews_container{
    display:grid;
    grid-template-columns:repeat(1, 1fr);
    row-gap: 20px;
  }

  .about-background{
    height: 2500px;
  }

  .programs_background{
    grid-template-rows: 200px 1fr;
    height: 1700px;
  }

  .services_windows_container{
    grid-template-columns: repeat(2,1fr);
  }

  .our_programs_container{
    height: 150px;
  }

  .programs_container{
    grid-template-columns: repeat(1, 400px);
    justify-content: center;
  }

  .gym_rates_container{
    height: 400px;
  }

  .gym_rates{
    height: 350px;
    width: 500px;
    object-fit:cover;
  }

  .footer_logo{
    height:100px;
  }
}

@media (max-width: 800px){

    body, html{
      width: 100%;
    }

    .header{
      width: 100%;
      grid-template-columns: 1fr 25fr 1fr;
    }
    .about-background{
      height: 2500px;
    }

    .event-wrapper{
        display:inline-block;
    }
    .quote{
        width: 400px;
        font-size:8vw;
    }

    .under_quote{
      font-size: 15px;
    }

    .menu-buttons-container{
        display:none;
    }

    .view_more_container{
      padding-right: 30px;
    }
    .join{
      padding-bottom: 200px;
    }

    .join_community{
      font-size: 40px;
    }

    .join_community_description{
      font-size: 15px;
      width: 90vw;
    }

    .gym_interior{
      height: 200px;
      width: 100%;
    }
    .meet_the_team_text{
      text-align: center;
    }

    .window{
      padding-bottom: 30px;
      width: 350px;
    }

    .person_description{
      width: 200px;
    }

    .find_your_gym{
      padding-bottom: 10px;
    }

    .find_gym{
      font-size: 40px;
    }

    iframe{
      width: 400px;
    }

    .programs_background{
      height: 1500px;
      grid-template-rows: 450px 750px 150px;
    }

    .services_offered_container{
      height: auto;
    }

    .services_offered{
      font-size: 40px;
    }

    .services_windows_container{
      grid-template-columns: repeat(1,1fr);
      justify-items:center;
    }

    .services_photo_container{
      width: 360px;
      height: 160px;
    }

    .services_photo{
      width: 160px;
      height: 160px;
    }

    .service_description{
      padding-right: 50px;
    }

    .description{
      font-size: 12px;
    }

    .programs_background{
      height: 2000px;
    }

    .our_programs{
      font-size:40px;
    }

    .gym_rates_container{
      height: 300px;
    }
    .gym_rates{
      height: 250px;
      width: 350px;
      border-radius: 5px;
    }

    .footer{
      height: 80px;
      grid-template-columns: repeat(3, 1fr);
      column-gap:90px;
      padding-left:30px;
      padding-right:30px;
      padding-top:20px;
    }


    .company_container{
      grid-template-rows: 30px 20px 20px 20px;
    }

    .support_container{
      grid-template-rows: 30px 20px;
    }

    .address_container{
      grid-template-rows: 30px 35px 20px;
    }
    .footer_logo_container{
      display:none;
    }

    .company,.support, .address{
      font-size:15px;
    }

    .footer_buttons{
      height: 10px;
    }

    .footer_buttons_street{
      width: 150px;
    }
}

@media (max-width: 400px ){
  body, html{
    width: 100%;
  }
  
  .header{
    grid-template-columns: 1fr 15fr 1fr;
  }

  .quote{
    width: 300px;
    font-size: 50px;
    text-align: left;
  }

  .under_quote{
    text-align: left;
  }

  .reviews{
    width: 280px;
  }

  .review_text{
    font-size: 14px;
  }

  .reviewer{
    font-size: 14px;
  }

  .view_more{
    font-size: 14px;
  }

  .window{
    width: 280px;
  }

  .join_community_description{
    font-size: 14px;
    width: 280px;
  }

  .join_now, .learn_more{
    font-size: 15px;
  }

  .name{
    font-size: 16px;
  }
  .role{
    font-size: 14px;
  }

  .role_description{
    font-size: 13px;
    width: 150px;
  }

  .find_gym, .services_offered, .join_community, .our_programs{
    font-size: 30px;
  }

  iframe{
    width: 280px;
  }

  .services_windows_container{
    padding-top: 100px;
  }

  .services_photo_container{
    width: 290px;
    height: 200px;
  }

  .services_photo{
    width: 140px;
    height: 200px;
  }

  .service_name{
    font-size: 15px;
  }

  .description{
    font-size: 14px;
    width: 120px;
  }

  .programs_background{
    height: 2100px;
  }

  .our_programs_container{
    padding-top: 200px;
  }


  .programs_container{
    padding-top: 200px;
  }

  .gym_rates{
    width: 280px;
    height: 200px;
  }

  .footer{
    grid-template-columns: repeat(3, 30px);
  }

  .company, .support, .address{
    font-size: 12px;
  }

  .footer_buttons, .footer_buttons_street{
    font-size: 10px;
  }

  .footer_buttons_street{
    width: 50px;
  }
  }

